body {
    background-image: linear-gradient(to right, #27214B, #43397E);
    margin: 0;
}

main {
    width: 90%;
    align-content: center;
}

h1 {
    font-family: Arial, sans-serif;
    color: black;
}

h2 {
    font-family: Arial, sans-serif;
    color: #27214B;
    margin: 0;
}

h3 {
    font-family: Arial, sans-serif;
    color: #72BBDB;
}

h5 {
    font-family: Arial, sans-serif;
    color: #72BBDB;
}


p {
    font-family: Arial, sans-serif;
    color:#27214B;
}


.header-container {
    background-color: #72BBDB;
    display: flex;
    width: 100%;
    padding: 5px;
    margin-bottom:20px;
}

 {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    width: 100%;
}

legend {
    color: #72BBDB;
    font-family: "Arial", sans-serif;
}

form {
    border: none;
}
