body {
    background-color: #DCDCDC ;
    margin: 0;
}

main {
    width: 90%;
    align-content: center;
}

h1 {
    font-family: Arial, sans-serif;
    color: black;
}

h2 {
    font-family: Arial, sans-serif;
    color: yellow;
    margin: 0;
}

h3 {
    font-family: Arial, sans-serif;
    color: lightseagreen;
    font-size: 25px;
}

h4 {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 22px;
}

h5 {
    font-family: Arial, sans-serif;
    color: #72BBDB;
    margin: 0;
}


p {
    font-family: Arial, sans-serif;
    color:#696969;
    font-weight: lighter;
}

.second-paragraph {
    font-family: Arial, sans-serif;
    color:#72BBDB;
    font-weight: lighter;
}


.header-container {
    background-color: lightseagreen;
    display: flex;
    width: 100%;
    padding: 5px;
    margin-bottom:20px;
}



legend {
    color: #72BBDB;
    font-family: "Arial", sans-serif;
}



button {
    background-color: lightseagreen	;
    padding: 10px 5px 10px 5px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
    font-family: Arial,  Serif;
    font-weight: bold;
    min-width: 110px;
    border-style: none;

}

button:hover {
    background-color: #66CDAA	;
    color: white;
}




